// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datepicker
@import '~daterangepicker';

//@import "~code-prettify/src/prettify";
@import "components/prettify";

html, body, textarea, ul, li, h1, h2, h3, h4, h5, form {
	margin: 0;
	padding: 0;
}
html, body {
	width: 100%;
	height: 100%;
	background: #fff;
	color: #000;
	font-weight: normal;
	box-sizing: border-box;
}
body {
	position: relative;
	overflow: auto;
}

.container-fluid {
	max-width: 1500px;

	&.slim {
		max-width: 1100px;
	}
}

#wrapper {
	min-height: 100%;
	/* makes footer visible cause 100% push it outside of window */
	margin-bottom: -5em;
	font-size: 1.05rem;

	pre {
		font-size: 0.9rem;
	}
}

#header-wrapper {

	margin-bottom: 50px;

	#header {
		padding-top: 50px;
		color: $red;
		font-weight: bold;
		align-items: baseline
	}

	.row {
		align-items: baseline;

		#top-menu {
			font-weight:bold;
			list-style-type: none;

			li {
				display: inline-block;
				margin-right: 20px;

				a {
					color: $black
				}

				a.active {
					color: red;
				}
			}
		}

		@media (max-width: 767px) {
			#top-menu {
				padding-top: 30px;
			}
		}
	}
}

#main {
	padding-bottom: 10em;

	h2 {
		margin-top: 30px;
		margin-bottom: 25px;
		padding-bottom: 14px;
		font-size: 1.7rem;
		font-weight: bold;
		border-bottom: 1px solid $gray-200;
	}

	h3 {
		margin-top: 24px;
		margin-bottom: 14px;
		padding-bottom: 14px;
		font-size: 1.24rem;
		font-weight: bold;
		border-bottom: 1px solid $gray-200;
	}

	ul {
		padding-left: 20px;
		
		li {
			margin-bottom: 7px;
		}
	}

	p {
		max-width: 1100px;
	}
}

#footer {
	text-align: center;
}



// Variables
@import 'components/data-grid';
@import 'components/alerts';